venv
frontend/node_modules
frontend/documentation
frontend/bower.json
frontend/CHANGELOG.md
frontend/gulpfile.js
frontend/ISSUE_TEMPLATE.md
frontend/jsconfig.json
frontend/LICENSE.md
frontend/package-lock.json
**/__pycache__
/.idea
/build
/.pnp
.pnp.js
frontend/.eslintcache

.gitignore.save

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

